@model ForumThread

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>@Model.Title</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Post</th>
        <th>Poster</th>
        <th>Content</th>
        <th>Date</th>
    </tr>
    </thead>
    @foreach (var post in Model.ForumPosts)
    {
        <tr>
            <td>@post.Id</td>
            <td>@post.Poster.NickName</td>
            <td>@post.Content</td>
            <td>@post.PostedDate</td>
        </tr>
    }
</table>

<form asp-controller="Threads" asp-action="Reply" asp-route-id=@Model.Id>
    <label for="poster">Add a name for the poster: </label>
    <input type="text" id="poster" name="poster" value=""/>
    <label for="content">Add content: </label>
    <input type="text" id="content" name="content" value=""/>
    <button type="submit" value="submit">Submit</button>
</form>